<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <h3 tabindex="1"><a href="#" class="nav-logo">ErdianRESTO.</a></h3>
            <ul class="nav-menu">
                <li class="nav-item" tabindex="2">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item" tabindex="3">
                    <a href="#" class="nav-link">Favorite</a>
                </li>
                <li class="nav-item" tabindex="4">
                    <a href="#" class="nav-link">About Us</a>
                </li>
            </ul>
            <a class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </nav>
    </header>
    <div class="container" style="margin-top: 80px;" tabindex="5">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="heading-jumbotron">Sundanese Restaurant.</h1>
        </div>
        <!-- <div class="page-scroll">
        </div> -->
    </div>

    <!-- Content -->
    <div class="container" style="margin-top:20px;">
        <div class="h2_wrapper">
            <h2>Available Menu's</h2>
        </div>
        <div class="row">
            <div id="showContent"></div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
        <p>Copyright © 2020 - <a href="https://www.linkedin.com/in/egi-erdian-21a35a196/" target="_blank">Egi Erdian</a></p>
    </div>

</body>

</html>